body {
    margin: auto;
  }
  
header{
    border: 10px;
    background-color: #ea6a13;
    position: relative;
    padding: 20px 0;
    animation: headerOpacity 1.4s ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}
button{
    margin-left: 15px; 
    padding: initial;
    width: 40px;
    height: 40px;
}
.menu{
    margin-left: 5%;
}
.menu-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.info-nav{
    padding: 15px;
}
.nav-style{
    color: black;
    text-decoration: none;
}
.nav-style:hover{
    color: #4b0082;
    transition: color 0.3s ease;
}
.contacts{
    display: flex;
    margin-left: auto;
}
.contacts-menu{
    list-style: none;
}
main{
    
}
h1{
    text-align: center;
    color: #ea6a13;
}
.service{
    list-style: none;
    display: flex;
    gap: 7%;
    text-align: center;
    margin-left: 15%;
}
body{
    background-color: aliceblue;
    background-image: url(../img/logobook\ dental\ V_curves.jpg);
       opacity: 0,5;
       margin: auto;
       background-position: center; /* Центрирование */
            background-repeat: no-repeat; /* Убираем повторение */
            background-size: auto;
            background-size: 100%;
}
.service-points{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: flex-start;
    align-items: stretch;
}
h2{
    text-align: center;
}
.header-service{
    text-align: center;
    color: aliceblue;
    margin-left: 3%;
    text-decoration: none;
}
.header-service:hover{
    color: #ea6a13;
    transition: color 0.3s ease;
}

.list-service{
    text-align: left;
    margin-left: 7%;
}
.service-list{
    font-weight: 400px;
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: 	#FDF5E6;
    margin-left: 5%;
}



footer{
    margin: auto;
    height: 3%;
    background-color: #ea6a13;
}
.fot{
    display: flex;

}