header{
    border: 10px;
    background-color: #ea6a13;
    position: relative;
    padding: 20px 0;
    animation: headerOpacity 1.4s ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

.button{
    margin: 5px;
    padding-left: 10px;
    padding-right: 30px;
}
.menu{
    margin-left: 5%;
    display: flex;
}
.menu-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.info-nav{
    padding: 15px;
}
.contacts{
    display: flex;
    margin-left: auto;
    
}
.contacts-menu{
    list-style: none;
}
h1{
    font-size: 20px;
    text-align: center;
}
.therapy-list{
    display: flex;
    
    flex-direction: column;
    gap: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #404bbf;
    margin-right: 76px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.specialist{
    list-style: none;
    width: 480px;
    height: 400px;
}